<component name="libraryTable">
  <library name="logback-1.2">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/../common-lib/logback-1.2.11" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$PROJECT_DIR$/../common-lib/logback-1.2.11" recursive="false" />
  </library>
</component>